/* App.module.css or your global stylesheet */
.app {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  height: 100%;
  width: 230px; 
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  background-color: #505050;
  z-index: 2;
  box-shadow: 2px 0 5px rgba(56, 56, 56, 0.1);
}

.sidebar-visible {
  transform: translateX(0%);
}

.controls-container {
  position: absolute; /* Position the container absolutely */
  color: #ddd;
  top: 0; /* Align the top edge of the container with the top of its parent */
  left: 0; /* Align the left edge of the container with the left of its parent */
  width: 100%; /* Make the container as wide as its parent */
  display: flex; /* Use flexbox for laying out the children */
  justify-content: center; /* Center the children (checkboxes) horizontally */
  gap: 10px; /* Optional: Adds some space between the checkboxes */
  padding: 10px; /* Add some padding inside the container */
  z-index: 1; /* Ensure the container is above the ThreeScene component */
}

.three-scene-container {
  width: 100%; /* Cover the full width of its parent */
  height: 100%; /* Cover the full height of its parent */
  position: absolute; /* Position it absolutely to fill the parent */
  top: 0;
  left: 0;
  z-index: 0;
}

