.checkbox-container {
    display: flex;       /* Aligns children (checkboxes) in a row */
    gap: 10px;           /* Optional: Adds some space between the checkboxes */
    background-color: transparent; /* Removes any background color */
  }
  