body, html {
    min-height: 100vh; /* 100% of the viewport height */
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #4d4d4d, black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the child */
    align-items: center; /* Horizontally center the child */
    height: 100%;
    color: rgb(77, 77, 77);
  }
  
  .logo {
    width: 400px;
    height: 400px;
    margin-top: 50px; /* Move the element down from the center */
  }


.textinputs {
    margin-top: 50px;
    padding: 30px;
    background-color: transparent;
    border: none;
    scale: 1.4;
}

.loginbtn {
    scale: 0;

}


.boxes{
    opacity: 0.5;
    border: none;
}