.sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .sidebar-item-text {
    font-size: 1.2rem;
  }
  
  .sidebar h2 {
    text-align: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 10px;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    background-color: #414040;
  }
  
  .platform-pictures {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .toggle-button {
    position: fixed;
    top: 10px;
    left: 5px;
    background: transparent;
    border: none;
    color: rgb(214, 214, 214);
    padding: 15px;
    text-align: center;
    font-size: 16px;
    z-index: 3;
  }
  
  .sub-sidebar {
    position: absolute; 
    left: 96%; 
    top: 0;
    background-color: #686868;
    width: 200px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-10px); /* Start from -10px on the X axis */
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; /* Prevent interaction when not visible */
  }
  
  .sidebar-item:hover .sub-sidebar {
    opacity: 1;
    transform: translateX(0px); /* Move to original position */
    pointer-events: auto; /* Allow interaction */
  }
  
  .sub-sidebar-item {
    padding: 10px; /* Provide some padding */
  }
  