.threeContainer {
    width: 100%; /* Scale down to 50% of the parent element's width */
    height: auto; /* Maintain aspect ratio */
    transform: translateX(0%); /* Move it 20% to the right from its current position */
    margin: 0 auto; /* Optional: Center it horizontally if needed */
  }
  